.container{
    width: 1200px;
    margin: auto;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;
}

.header{
    width: 1100px;
    height: 100px;
    background-color: purple;
    float: left;
}

.nav{
    width: 1200px;
    height: 50px;
    background-color: green;
    float: left;
}

.text{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
}

.pictures{
    width: 800px;
    height: 400px;
    background-color: aqua;
    float: left;
}
.leftGroup{
    width: 200px;
    float: left;
}

.ad1{
    width: 200px;
    height: 200px;
    background-color: gold;
    float: left;
}

.groups{
    width: 200px;
    height: 200px;
    background-color: blue;
    float: left;
}

.ad2{
    width: 200px;
    height: 200px;
    background-color: gold;
    float: left;
}

.footer{
    width: 1200px;
    height: 100px;
    background-color: orange;
    float: left;
}